[submodule "drivers/net/wireless/rtl8814au"]
	path = drivers/net/wireless/rtl8814au
	url = https://github.com/aircrack-ng/rtl8814au.git
[submodule "drivers/net/wireless/rtl8812au"]
	path = drivers/net/wireless/rtl8812au
	url = https://github.com/aircrack-ng/rtl8812au.git
[submodule "drivers/net/wireless/rtl8188eus"]
	path = drivers/net/wireless/rtl8188eus
	url = https://github.com/aircrack-ng/rtl8188eus.git
